<div class='box'>
  <h2 class='text-center' style="margin-bottom: 30px;">SIGN UP</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: false }) do |f| %>

    <% if resource.errors.any? %>
      <div class='alert alert-danger'>
        <a class='close' data-dismiss='alert' href=''>x</a>
        <strong>Please review problem below : </strong>
        <ul>
          <% resource.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :email, autofocus: true, label: false, placeholder: "Email Address", input_html: { required: true } %>
      <%= f.input :password, required: true, label: false, placeholder: "Password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { required: true } %>
      <%= f.input :password_confirmation, label: false, placeholder: "Confirmation Password", input_html: { required: true } %>
      <%= f.input :name, label: false, placeholder: "Full Name", required: true, input_html: { required: true } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "SIGN UP" %>
    </div>
  <% end %>

  <div class='create-account' style='margin-top: 20px;'>
    <%= render "devise/shared/links" %>
  </div>
</div>