<% set_meta_tags title: "Sign Up", description: "Let's shorten your link! Make your link easier to remember.", keyword: "Yuk, Shorten Link, Short Link, Yuk!", author: "https://yuksl.herokuapp.com", canonical: "https://yuksl.herokuapp.com", publisher: "https://yuksl.herokuapp.com", :'msvalidate.01' => "", og: { title: "Sign Up", description: "Let's Shorten Your Link! Make Your Link Easier To Remember!", url: request.original_url, site_name: "Yuk! Shorten Link!", image: "" } %>

<div class='box'>
  <h2 class='text-center' style="margin-bottom: 30px;">SIGN UP</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: false }) do |f| %>

    <% if resource.errors.any? %>
      <div class='alert alert-danger'>
        <a class='close' data-dismiss='alert' href=''>x</a>
        <strong>Please review problem below : </strong>
        <ul>
          <% resource.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :email, autofocus: true, label: false, placeholder: "Email Address", input_html: { required: true } %>
      <%= f.input :password, required: true, label: false, placeholder: "Password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { required: true } %>
      <%= f.input :password_confirmation, label: false, placeholder: "Confirmation Password", input_html: { required: true } %>
      <%= f.input :name, label: false, placeholder: "Full Name", required: true, input_html: { required: true } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "SIGN UP" %>
    </div>
  <% end %>

  <div class='create-account' style='margin-top: 20px;'>
    <%= render "devise/shared/links" %>
  </div>
</div>