<% if @url.errors.present? %>
  <% if @url.errors.messages[:url].present? %>
    $(".url-form-header input").addClass("error-form")
    $(".url-form-header .text").text("<%= @url.errors.messages[:url].first %>")
    $(".url-form-header .text").addClass("error-text")
  <% else %>
    $(".url_url input").removeClass("error-form")
    $(".url-form-header .text").removeClass("error-text")  
    $(".url-form-header .text").text("")
  <% end %>

  <% if @url.errors.messages[:url_unique].present? %>
    <% url = Url.find_by(user_id: @url.user_id, url: @url.url) %>
    $(".url-form-header input").addClass("error-form")
    $(".url-form-header .text").text("<%= @url.errors.messages[:url_unique].first %>")
    $(".url-form-header .text").addClass("error-text")
    $("#short-url-form-header").html("<div class='form-group col-md-12 text-center'><h4>Your shorten URL<br /><a href='<%= request.base_url %>/<%= url.shorten %>' target='_blank'><%= request.base_url %>/<%= url.shorten %></a></h4></div>")
    $("#short-url-form-header").slideUp(0)
    $("#short-url-form-header").slideDown(250)
  <% else %>
    $(".url_url input").removeClass("error-form")
    $(".url-form-header .text").removeClass("error-text")  
    $(".url-form-header .text").text("")
    $("#short-url-form-header").html("")
  <% end %>

  <% if @url.errors.messages[:shorten].present? %>
    $(".shorten-header input").addClass("error-form")
    $(".shorten-header .text").text("<%= @url.errors.messages[:shorten].first %>")
    $(".shorten-header .text").addClass("error-text")
  <% else %>
    $(".shorten-header input").removeClass("error-form")
    $(".shorten-header .text").text("")
    $(".shorten-header .text").removeClass("error-text")
  <% end %>  
<% else %>
  $("#short-url-form-header").html("<div class='form-group col-md-12 text-center'><h4>Your shorten URL<br /><a href='<%= request.base_url %>/<%= @url.shorten %>' target='_blank'><%= request.base_url %>/<%= @url.shorten %></a></h4></div>")
  $(".url_url input").removeClass("error-form")
  $(".url-form-header .text").removeClass("error-text")  
  $(".url-form-header .text").text("")
  $(".shorten-header input").removeClass("error-form")
  $(".shorten-header .text").text("")
  $(".shorten-header .text").removeClass("error-text")
  $("tbody#my-links").prepend("<tr class='row-link-<%= @url.id %>'><td class='link-url-<%= @url.id %>'><a href='<%= @url.url  %>' target='_blank'><%= @url.url %></a></td><td class='shorten-<%= @url.id %>'><a href='<%= request.base_url %>/<%= @url.shorten %>' target='_blank'><%= request.base_url %>/<%= @url.shorten %></a></td><td class='click-count-<%= @url.id %>'>0</td><td class='action-button-<%= @url.id %>'><a href='javascript:void(0);' data-id='<%= @url.id %>' class='btn btn-edit-shorten edit-shorten-<%= @url.id %>'>Edit</a><span>|</span><a href='/urls/<%= @url.id %>' data-confirm='Do you wish to delete this Short URL?' data-method='delete' data-remote='true' target='_blank'>Delete</a></tr>")
<% end %>
