window.fbAsyncInit = function() {
  FB.init({
    appId      : '778238925635445',
    xfbml      : true,
    version    : 'v2.4'
  });
};

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


<% if @url.errors.present? %>
  <% if @url.errors.messages[:url].present? %>
    $(".url-form-header input").addClass("error-form")
    $(".url-form-header .text").text("<%= @url.errors.messages[:url].first %>")
    $(".url-form-header .text").addClass("error-text")
  <% end %>

  <% if @url.errors.messages[:url_unique].present? %>
    <% url = Url.find_by(user_id: @url.user_id, url: @url.url) %>
    <% shorten = "#{request.base_url}/#{url.shorten}" %>
    $(".url-form-header input").addClass("error-form")
    $(".url-form-header .text").text("<%= @url.errors.messages[:url_unique].first %>")
    $(".url-form-header .text").addClass("error-text")
    $("#short-url-form-header").html("<div id='box-result'><div class='col-md-12 text-center'><h2>YOUR SHORTEN URL</h2></div>")
    $("#short-url-url").html("<div class='col-md-12 text-center padding-bottom-10'><a href='<%= request.base_url %>/<%= url.shorten %>' target='_blank' class='text-link-result'><%= request.base_url %>/<%= url.shorten %></a></div>")
    $("#share-to-social-network").html("<div class='col-md-12 text-center padding-bottom-40'><h5>Share To Social Network</h5><p><a href='javascript:void(0);' data-shorten='<%= shorten %>' class='fb-click'><i class='fa fa-facebook-square fa-2x'></i></a>&nbsp;&nbsp;<script src='//platform.linkedin.com/in.js' type='text/javascript'> lang: en_US</script><script type='IN/Share' data-url='<%= shorten %>'></script>&nbsp;&nbsp;<a href=https://twitter.com/share class=twitter-share-button data-url='<%= shorten %>' data-text='Check out' data-via='AndreasArnol02' data-count=none data-hashtags=YukShorten>Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p></div></div>")
    $("#short-url-form-header").slideUp(0)
    $("#short-url-form-header").slideDown(250)
  <% end %>

  <% if @url.errors.messages[:shorten].present? %>
    $(".type input").addClass("error-form")
    $(".type .shorten-header-text").html("<%= j(@url.errors.messages[:shorten].first.titleize) %>")
    $(".type .shorten-header-text").addClass("error-text")
  <% end %>  
<% else %>
  <% shorten = "#{request.base_url}/#{@url.shorten}" %>

  $("#short-url-form-header").html("<div class='col-md-12 text-center'><h2>YOUR SHORTEN URL</h2></div>")
  $("#short-url-url").html("<div class='col-md-12 text-center padding-bottom-40'><a href='<%= request.base_url %>/<%= @url.shorten %>' target='_blank' class='text-link-result'><%= request.base_url %>/<%= @url.shorten %></a></div>")
  $("#share-to-social-network").html("<div class='col-md-12 text-center padding-bottom-40'><h5>Share To Social Network</h5><p><a href='javascript:void(0);' data-shorten='<%= shorten %>' class='fb-click'><i class='fa fa-facebook-square fa-2x'></i></a>&nbsp;&nbsp;<a href=https://twitter.com/share class=twitter-share-button data-url='<%= shorten %>' data-text='Check out' data-via='AndreasArnol02' data-count=none data-hashtags=YukShorten>Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>&nbsp;&nbsp;<script src='//platform.linkedin.com/in.js' type='text/javascript'> lang: en_US</script><script type='IN/Share' data-url='<%= shorten %>'></script></p></div></div>")
  $(".url_url input").removeClass("error-form")
  $(".url-form-header .text").removeClass("error-text")  
  $(".url-form-header .text").text("")
  $(".type input").removeClass("error-form")
  $(".type .shorten-header-text").text("")
  $(".type .shorten-header-text").removeClass("error-text")
  $("tbody#my-links").prepend("<tr class='row-link-<%= @url.id %>'><td class='link-url-<%= @url.id %>'><a href='<%= @url.url  %>' target='_blank'><%= @url.url %></a></td><td class='shorten-<%= @url.id %>'><a href='<%= request.base_url %>/<%= @url.shorten %>' target='_blank'><%= request.base_url %>/<%= @url.shorten %></a></td><td class='click-count-<%= @url.id %>'>0</td><td class='action-button-<%= @url.id %>'><a href='javascript:void(0);' data-id='<%= @url.id %>' class='btn btn-edit-shorten edit-shorten-<%= @url.id %>'>Edit</a><span>|</span><a href='/urls/<%= @url.id %>' data-confirm='Do you wish to delete this Short URL?' data-method='delete' data-remote='true' target='_blank'>Delete</a></tr>")
<% end %>
